@using Entities;
@model ECommPortal.Models.CreateCouponPlanMapModel

@{
    ViewData["Title"] = "Index";
}

<div class="row form-row">


    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light form-box">

            <div class="portlet-title">
                <div class="caption color-dark">

                    <span class="caption-subject bold uppercase"> Create Plan Coupon Mapping </span>
                </div>



            </div>

            <div style="display:flex;justify-content:center"><hr class="heading-hr"></div>





            @if (Model.message != null)
            {
                if (Model.Responseflag == 0)
                {
                    <div class="col-md-12" style="background-color:green;padding:2%;width:100%;color:white;">

                        @Model.message

                    </div>
                }

                else
                {
                    <div class="col-md-12" style="background-color:red;padding:2%;width:100%;color:white;">

                        @Model.message

                    </div>

                }


            }
        <div class="portlet-body form global-form">
            @*<form asp-controller="PlanCouponMappings" asp-action="Create">
            <div class="form-body">
                <div class="form-group">
                    <label class="color-dark">Coupon Category</label>
                    <div class="input-group">
                        <select id="coupon-cat" class="coupon-type-class">

                            <option value="" selected>Choose Coupon Category...</option>
                            @foreach (var coup in Model.CouponCategoryList)
                            {
                                <option value=@coup.CouponCategoryID>@coup.CouponCategoryDesc</option>


                            }

                        </select>


                    </div>
                </div>


                <div class="form-group">
                    <label class="color-dark">Coupon Code</label>
                    <div class="input-group">
                        <select id="coupon-items" class="coupon-type-class" asp-for="@Model.couponId">

                            <option value="" selected>Choose Coupon Code...</option>


                        </select>


                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn blue">Submit</button>
                </div>

            </div>
        </form>*@

            @if (Model.PlanList != null && Model.couponId > 0)
            {
                <form asp-controller="PlanCouponMappings" asp-action="Save">
                    <div>
                        <input type="hidden" asp-for="@Model.couponId" value="@Model.couponId" />
                        <div class="form-group">
                            <label class="color-dark">Select the plan you want to add</label>
                            <div class="input-group table-form">
                                <input type="text" id="myPlanInput" onkeyup="myPlanFunction()" placeholder="Search for plan names.." title="Type in a name">
                                <div style="width:100%;">
                                    <table id="myPlanTable" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:10%;"></th>
                                                <th style="width:90%;">Plan Name</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i = 0; }
                                            @foreach (var planlist in Model.PlanList)
                                            {



                                                //Model.ChoosedPlanList.Add(new ChoosedPlan());                                            //Model.ChoosedPlanList.Add(new ChoosedPlan());


                                                Model.ChoosedPlanList.Add(new ChoosedPlan());


                                                //Model.ChoosedPlanList[i].ChoosedPlanID = planlist.PlanID;
                                                //Model.ChoosedPlanList[i].ChoosedPlanName = planlist.PlanName;




                                                <tr>

                                                    <td>
                                                        <input type="hidden" value="@planlist.PlanID" asp-for="@Model.ChoosedPlanList[i].ChoosedPlanID" />
                                                        <input type="hidden" value="@planlist.PlanName" asp-for="@Model.ChoosedPlanList[i].ChoosedPlanName" />

                                                        <input type="checkbox" asp-for="@Model.ChoosedPlanList[i].statusvalue" />

                                                        @*@{Model.ChoosedPlanList[i].ChoosedPlanID = planlist.PlanID;}*@
                                                    </td>
                                                    <td> <label asp-for="@Model.ChoosedPlanList[i].statusvalue">@planlist.PlanName</label></td>
                                                </tr>
                                                i++;

                                            }
                                        </tbody>

                                    </table>
                                </div>


                            </div>
                        </div>



                        <div class="form-group flex-form-group" style="margin-bottom:0px !important">
                            <div class="form-group">

                                <label class="color-dark">Valid From</label>
                                <div class="input-group">

                                    <input id="coupon-valid-from" type="date" class="form-control" asp-for="@Model.ValidFrom" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="color-dark">Valid To</label>
                                <div class="input-group">

                                    <input id="coupon-valid-to" type="date" class="form-control" asp-for="@Model.ValidTo" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Submit</button>
                    </div>
                </form>
            }
            else
            {

                <div> No Plans available for Currently Selected Coupon Code </div>
            }
            <br><hr><br>
            <a asp-action="index" asp-controller="PlanCouponMappings"><button type="submit" class="btn blue" style="width:100%">Back</button></a>
        </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->


    </div>
</div>


<script type="text/javascript">

    function myPlanFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myPlanInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myPlanTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    function checkfunction(checkboxid, rowno) {

        if (document.getElementById("checkboxid").checked == true) {
            document.getElementById("checkboxid").checked == false;

        }
        else {
              document.getElementById("checkboxid").checked == true;

        }

    }

    jQuery(document).ready(function ($) {

        $('#coupon-valid-from').change(function () {
            document.getElementById("coupon-valid-to").setAttribute("min", document.getElementById("coupon-valid-from").value);
            document.getElementById("coupon-valid-to").value = document.getElementById("coupon-valid-from").value;
        });


        $("#coupon-cat").on('change', function () {
            var e = document.getElementById("coupon-cat");

            $.ajax({
                type: "GET",
                url: "/Ajax/AjaxMethod",
                data: { catid:e.value },
                success: function (response) {
                    console.log(response);
                    var select = document.getElementById('coupon-items');
                    $('#coupon-items')
                        .empty()
                        .append('<option value="" selected>Choose Coupon Code...</option>');

                    for (var i = 0; i < response.length; i++) {

                        var opt = document.createElement('option');
                        opt.value = response[i].couponID;
                        opt.innerHTML = response[i].couponCode;
                        select.appendChild(opt);


                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });



        /*$("#coupon-items").on('change', function () {
            var e = document.getElementById("coupon-items");

            $.ajax({
                type: "GET",
                url: "/Ajax/AjaxMethodForPlan",
                data: { couponid: e.value },
                success: function (response) {
                    console.log(response);
                    var select = document.getElementById('coupon-items');

                    /*$('#coupon-items')
                        .empty()
                        .append('<option value="" selected>Choose Coupon Code...</option>');

                    for (var i = 0; i < response.length; i++) {

                        var opt = document.createElement('option');
                        opt.value = response[i].couponID;
                        opt.innerHTML = response[i].couponCode;
                        select.appendChild(opt);


                    }*/
              /*  },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });*/



    });
</script>